.button {
	all: unset;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	height: 4rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-shrink: 0;
	cursor: pointer;
	border-radius: 0.8rem;
	background: var(--accent-color);

	color: white;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 510;
	line-height: 100%; /* 1.5rem */
	letter-spacing: 0.015rem;
}
