.header {
	margin-bottom: 2.8rem;
	position: relative;
	width: 100%;
}

.icon {
	position: absolute;
	bottom: -4px;

	&__left {
		@extend .icon;
		left: 0;
		stroke: var(--primary-color);
	}

	&__right {
		@extend .icon;
		right: 0;
		stroke: white;
	}
}

.title {
	color: var(--primary-color);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 590;
	line-height: 100%;
	letter-spacing: 0.03rem;
}
